body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(243, 228, 201);
}

.titleCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;

}

header{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
    padding-right: 50px;
    padding-left: 50px;
}

p{
    font-size: 18px;
    padding-top: 20px;
}

.quizSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#questionsArea {
    display: none;
    
}

#scorePage{
    display: none;
}

#timer{
    display: flex;
    justify-content: center;
}

button{
    border: none;
  background-color: rgb(63, 28, 97);
  border-radius: 30px;
  color:white;
  display: block;
  font-size: 20px;
  margin: 15px 15px 15px 400px;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
}

#scores{

}

button:hover{
    opacity: .8;
}

button:active{
    opacity: .5;
}